
html, body {
	height: 100%;

}

	*{
	font-family: 'Raleway', sans-serif;
	/*font-size: 1.2vw; */
} 


 .scale {
	display: inline-flex;
	justify-content: space-between;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 14px;
} 

.row {
	height: 18%;
}

.calculate, .submit {
	height: 5%;

}

.score {
	height: 10%;
}
.titles {
	
	padding-top: 5%;
	padding-bottom: 5%;
}
/*.masterGrid {
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
}*/